div.inner p {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 20px;
}

div.inner h2 {
	margin-top: 25px !important;
}

div.inner ul {
	list-style-type: square;
	margin: 24px 0 0 40px !important;
}

div.inner ul li {
	padding: 6px 0;
}
