/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */

$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.4;

/**
 * Colors
 */
$text-color: #47515B;
$primary-color: #00D197;
